body {
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

button {
    padding: 15px;
    margin: 5px;
    font-size: 16px;
}
