body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

header {
    padding: 100px 20px;
    background-color: #4f46e5;
    color: white;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
